Repository specdojo/spec-dojo-handbook: changes, and which lefthook commands are due for each by the changed paths.
All: docs-build, format-markdown, lint-markdown

docs-build:
  run: npx tsx docs/tools/src/lefthook-docs-build.ts
  stage_fixed: true

format-markdown:
  run: npx markdownlint --fix {staged_files}
  stage_fixed: true

lint-markdown:
  run: npx markdownlint {staged_files}

docs(update): meta-*-rules.mdをinstruction作成対象外に変更
  .github/instructions/rules-to-instructions.instructions.md
  .github/prompts/upsert-all-instructions.md
  .github/prompts/upsert-changed-instructions.md
  .github/prompts/upsert-last-commit-instructions.md
  .github/skills/rules-to-instructions/SKILL.md
  docs/ja/handbook/instructions/itd-instruction.md
Due: docs-build, format-markdown, lint-markdown

docs(new): SpecDojo Handbookのproject-docsを追加
  docs/ja/handbook/rules/meta-id-and-file-naming-rules.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/010-プロジェクト概要/010-プロジェクト概要.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/010-プロジェクト概要/020-プロジェクト憲章.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/010-プロジェクト概要/030-ステークホルダー登録簿.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/020-プロジェクトスコープ/010-スコープ定義.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/020-プロジェクトスコープ/020-成功条件・受入条件.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/020-プロジェクトスコープ/030-成果物カタログ.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/020-プロジェクトスコープ/040-WBS.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/030-プロジェクト課題と解決アプローチ/010-課題と解決アプローチ.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/030-プロジェクト課題と解決アプローチ/020-前提・制約・依存.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/030-プロジェクト課題と解決アプローチ/030-代替案の比較.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/010-プロジェクトマネジメント計画.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/020-スケジュール.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/030-コミュニケーション計画.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/040-品質管理計画.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/050-リスク登録簿.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/060-課題ログ.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/070-変更要求ログ.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/040-プロジェクトマネジメント/100-体制・RACI.md
  docs/ja/sdh-ja-project-docs/prj-sdh-ja-0001/090-決定記録/dec-0001-title.md
Due: docs-build, format-markdown, lint-markdown

docs(new): sch, wbsのschemaの追加
  docs/shared/schemas/sch.schema.yaml
  docs/shared/schemas/wbs.schema.yaml
Due: docs-build

docs(update): title, 一覧の修正
  docs/ja/handbook/rules/meta-id-and-file-naming-rules.md
  docs/shared/schemas/spec-frontmatter.schema.yaml
Due: docs-build, format-markdown, lint-markdown

docs(new): sampleの追加
  docs/ja/handbook/samples/sch-container-sample.yaml
  docs/ja/handbook/samples/sch-domain-sample.yaml
  docs/ja/handbook/samples/sch-milestones-sample.yaml
  docs/shared/schemas/sch.schema.yaml
Due: docs-build

chore: cspell.wordsの追加
  .vscode/settings.json
Due: none

docs(refactor): sdh-ja-projectのディレクトリ、ファイル名を英語に変更
  docs/ja/sdh-ja-project/prj-0001/010-project-overview/010-project-overview.md
  docs/ja/sdh-ja-project/prj-0001/010-project-overview/020-project-charter.md
  docs/ja/sdh-ja-project/prj-0001/010-project-overview/030-project-stakeholder-register.md
  docs/ja/sdh-ja-project/prj-0001/020-project-scope/010-project-scope.md
  docs/ja/sdh-ja-project/prj-0001/020-project-scope/020-project-success-and-acceptance-criteria.md
  docs/ja/sdh-ja-project/prj-0001/020-project-scope/030-project-deliverables-catalog .md
  docs/ja/sdh-ja-project/prj-0001/020-project-scope/040-work-breakdown-structure.md
  docs/ja/sdh-ja-project/prj-0001/030-project-issues-and-approach/010-project-issues-and-approach.md
  docs/ja/sdh-ja-project/prj-0001/030-project-issues-and-approach/020-assumptions-constraints-and-dependencies.md
  docs/ja/sdh-ja-project/prj-0001/030-project-issues-and-approach/030-comparison-of-alternatives.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/010-project-management-plan.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/020-schedule.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/030-communication-plan.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/040-quality-management-plan.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/050-risk-register.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/060-issue-log.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/070-change-request-log.md
  docs/ja/sdh-ja-project/prj-0001/040-project-management/100-organization-and-raci.md
  docs/ja/sdh-ja-project/prj-0001/090-decision-log/dec-0001-title.md
Due: docs-build, format-markdown, lint-markdown

docs(refactor): project->projectsに変更、guide, indexの見直し
  docs/ja/handbook/guidelines/docs-structure-guide.md
  docs/ja/index.md
  docs/ja/sample-gcs-projects/010-プロジェクト概要/README.md
  docs/ja/sample-gcs-projects/010-プロジェクト概要/駄菓子屋きぬや販売管理システムの構築.md
  docs/ja/sample-gcs-projects/020-プロジェクトスコープ/README.md
  docs/ja/sample-gcs-projects/020-プロジェクトスコープ/駄菓子屋きぬや販売管理システムのスコープ.md
  docs/ja/sample-gcs-projects/030-プロジェクト課題と解決アプローチ/README.md
  docs/ja/sample-gcs-projects/030-プロジェクト課題と解決アプローチ/販売管理の課題と対策.md
  docs/ja/sample-gcs-projects/090-決定記録/ADR-0001-database-choice.md
  docs/ja/sample-gcs-projects/090-決定記録/ADR-0002-frontend-tech.md
  docs/ja/sample-gcs-projects/090-決定記録/README.md
  docs/ja/sdh-ja-projects/prj-0001/010-project-overview/010-project-overview.md
  docs/ja/sdh-ja-projects/prj-0001/010-project-overview/020-project-charter.md
  docs/ja/sdh-ja-projects/prj-0001/010-project-overview/030-project-stakeholder-register.md
  docs/ja/sdh-ja-projects/prj-0001/020-project-scope/010-project-scope.md
  docs/ja/sdh-ja-projects/prj-0001/020-project-scope/020-project-success-and-acceptance-criteria.md
  docs/ja/sdh-ja-projects/prj-0001/020-project-scope/030-project-deliverables-catalog .md
  docs/ja/sdh-ja-projects/prj-0001/020-project-scope/040-work-breakdown-structure.md
  docs/ja/sdh-ja-projects/prj-0001/030-project-issues-and-approach/010-project-issues-and-approach.md
  docs/ja/sdh-ja-projects/prj-0001/030-project-issues-and-approach/020-assumptions-constraints-and-dependencies.md
  docs/ja/sdh-ja-projects/prj-0001/030-project-issues-and-approach/030-comparison-of-alternatives.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/010-project-management-plan.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/020-schedule.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/030-communication-plan.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/040-quality-management-plan.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/050-risk-register.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/060-issue-log.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/070-change-request-log.md
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/100-organization-and-raci.md
  docs/ja/sdh-ja-projects/prj-0001/090-decision-log/dec-0001-title.md
Due: docs-build, format-markdown, lint-markdown

feat: dojo.config.jsonの追加
  docs/ja/index.md
  dojo.config.json
  package-lock.json
  tools/dojo/package.json
  tools/dojo/src/dojo-config.ts
  tools/dojo/src/dojo.ts
  tools/dojo/src/exec.ts
Due: docs-build, format-markdown, lint-markdown

feat: npxをつけなくてもdojoを実行できるように変更
  .vscode/settings.json
  docs/ja/handbook/guidelines/dojo-command-usage-guilde.md
  docs/ja/handbook/guidelines/specdojo-execution-model-guide.md
  tools/dojo/package.json
Due: docs-build, format-markdown, lint-markdown

docs(new): wbs-granularityの追加
  .vscode/settings.json
  docs/ja/handbook/guidelines/specdojo-execution-model-guide.md
  docs/ja/handbook/guidelines/specdojo-wbs-granularity-guide.md
Due: docs-build, format-markdown, lint-markdown

docs(fix): READMEのリンクを修正
  README.md
Due: format-markdown, lint-markdown

docs(fix): sidebarの修正と要求・要件の追加
  docs/.vitepress/handbook-sidebar-items.ts
  docs/ja/handbook/guidelines/specdojo-execution-model-guide.md
  docs/ja/handbook/guidelines/specdojo-project-docs-guide.md
  docs/ja/handbook/guidelines/specdojo-schedule-design-guide.md
  docs/ja/handbook/guidelines/specdojo-spec-to-task-algorithm-guide.md
  docs/ja/handbook/guidelines/specdojo-wbs-design-guide.md
  docs/ja/index.md
Due: docs-build, format-markdown, lint-markdown

fix: markdownlint-config-schema.jsonをローカルから読み込むように変更
  .devcontainer/devcontainer.json
  .gitignore
  .markdownlint.yaml
  .vscode/schemas/markdownlint-config-schema.json
  .vscode/settings.json
  docs/ja/handbook/guidelines/specdojo-wbs-design-guide.md
Due: docs-build, format-markdown, lint-markdown

feat: dojoコマンドのディレクトリ指定を整理
  docs/ja/handbook/guidelines/dojo-command-usage-guilde.md
  docs/ja/handbook/guidelines/specdojo-execution-model-guide.md
  tools/dojo/src/dojo-config.ts
  tools/dojo/src/exec.ts
Due: docs-build, format-markdown, lint-markdown

feat: ガントチャートの見栄えを修正
  .gitignore
  .vscode/markdown-preview.css
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/gantt.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/metadata.json
  tools/dojo/src/exec.ts
Due: docs-build, format-markdown, lint-markdown

refactor: schedule-default.yamlに共通項を切り出し
  .vscode/settings.json
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-context.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-flow.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-policy.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-structure.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-milestones.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-criteria.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-verification.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/schedule-defaults.yaml
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/gantt.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/metadata.json
  docs/shared/schemas/sch.schema.yaml
  docs/shared/schemas/schedule-defaults.schema.yaml
  tools/dojo/src/exec.ts
Due: docs-build, format-markdown, lint-markdown

docs(fix): sampleの修正
  docs/ja/handbook/samples/sch-container-sample.yaml
  docs/ja/handbook/samples/sch-domain-sample.yaml
  docs/ja/handbook/samples/sch-milestones-sample.yaml
  docs/ja/handbook/samples/schedule-defaults.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/schedule-defaults.yaml
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/metadata.json
  tools/dojo/src/exec.ts
Due: docs-build

feat: ganttのsectionタイトルの変更
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/gantt.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/metadata.json
  tools/dojo/src/exec-schedule.ts
  tools/dojo/src/exec-types.ts
Due: docs-build, format-markdown, lint-markdown

feat: 役割ラベルを細分化
  docs/ja/sdh-ja-projects/prj-0001/040-project-management/010-management-plan/040-pm-organization-and-raci.md
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-quality.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-context.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-flow.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-policy.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-structure.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-milestones.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-criteria.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-verification.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality.yaml
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/cpm.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/cpm.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/metadata.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/ready.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/ready.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/schedule-hash.json
  docs/shared/schemas/sch.schema.yaml
  tools/dojo/src/exec.ts
Due: docs-build, format-markdown, lint-markdown

docs(fix): wbs.schemaのownerの種類を変更
  docs/shared/schemas/wbs.schema.yaml
Due: docs-build

docs(refactor): titleを#に記述に変更
  docs/ja/handbook/rules/atc-index-rules.md
  docs/ja/handbook/rules/atc-rules.md
  docs/ja/handbook/rules/cop-rules.md
  docs/ja/handbook/rules/dmd-rules.md
  docs/ja/handbook/rules/etc-index-rules.md
  docs/ja/handbook/rules/etc-rules.md
  docs/ja/handbook/rules/itc-index-rules.md
  docs/ja/handbook/rules/itc-rules.md
  docs/ja/handbook/rules/meta-document-metadata-rules.md
  docs/ja/handbook/rules/meta-test-document-scope-rules.md
  docs/ja/handbook/rules/mip-index-rules.md
  docs/ja/handbook/rules/mtp-rules.md
  docs/ja/handbook/rules/nfr-availability-rules.md
  docs/ja/handbook/rules/nfr-index-rules.md
  docs/ja/handbook/rules/nfr-integrity-rules.md
  docs/ja/handbook/rules/nfr-maintainability-rules.md
  docs/ja/handbook/rules/nfr-operations-rules.md
  docs/ja/handbook/rules/nfr-performance-rules.md
  docs/ja/handbook/rules/nfr-reliability-rules.md
  docs/ja/handbook/rules/nfr-security-safety-rules.md
  docs/ja/handbook/rules/nfr-usability-rules.md
  docs/ja/handbook/rules/opd-rules.md
  docs/ja/handbook/rules/opr-rules.md
  docs/ja/handbook/rules/otp-rules.md
  docs/ja/handbook/rules/prj-overview-rules.md
  docs/ja/handbook/rules/stc-index-rules.md
  docs/ja/handbook/rules/stc-rules.md
  docs/ja/handbook/rules/sysd-critical-flows-rules.md
  docs/ja/handbook/rules/sysd-cross-cutting-policy-rules.md
  docs/ja/handbook/rules/sysd-index-rules.md
  docs/ja/handbook/rules/tsp-index-rules.md
  docs/ja/handbook/rules/utc-index-rules.md
  docs/ja/handbook/rules/utc-rules.md
  docs/ja/handbook/templates/prj-overview-input-template.md
  docs/ja/sample-gcs-product/010-業務仕様/040-概念状態遷移図/cstd-010-商品の概念状態遷移図-AS-IS.md
  docs/ja/sample-gcs-product/010-業務仕様/040-概念状態遷移図/cstd-020-お金の概念状態遷移図-AS-IS.md
  docs/shared/schemas/spec-frontmatter.schema.yaml
Due: docs-build, format-markdown, lint-markdown

refactor: instructions -> instructionへ変更
  .github/instructions/rules-to-instruction.instructions.md
  .github/prompts/upsert-all-instructions.md
  .github/prompts/upsert-changed-instructions.md
  .github/prompts/upsert-last-commit-instructions.md
  .github/prompts/upsert-migration-instructions.md
  .github/prompts/upsert-nfr-instructions.md
  .github/prompts/upsert-test-instructions.md
  .github/skills/rules-to-instruction/SKILL.md
Due: format-markdown, lint-markdown

feat: input-templateを作成するpromptを追加、他のpromptの整理
  .github/SKILL.md
  .github/instructions/rules-to-input-template.instructions.md
  .github/prompts/create-cstd.md
  .github/prompts/create-readme.md
  .github/prompts/upsert-all-input-templates.md
  .github/prompts/upsert-changed-input-templates.md
  .github/prompts/upsert-input-template.md
  .github/prompts/upsert-instruction.md
  .github/prompts/upsert-last-commit-input-templates.md
  .github/skills/rules-to-input/SKILL.md
  .github/skills/rules-to-instruction/SKILL.md
  docs/ja/handbook/templates/prj-overview-input-template.md
  docs/shared/schemas/spec-frontmatter.schema.yaml
Due: docs-build, format-markdown, lint-markdown

feat(ai-new): rules.instructions.mdの追加
  .github/instructions/rules.instructions.md
Due: format-markdown, lint-markdown

feat(ai-new): rules-to-sample skillの追加
  .github/skills/rules-to-sample/SKILL.md
  docs/ja/handbook/guidelines/docs-contents-guide.md
Due: docs-build, format-markdown, lint-markdown

docs(ai-fix): scheduleの修正
  .github/prompts/rules-lifecycle.md
  .github/skills/rules-lifecycle/SKILL.md
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-context.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-flow.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-policy.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design-structure.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-milestones.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-criteria.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality-verification.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality.yaml
Due: docs-build, format-markdown, lint-markdown

docs(ai-update): 日本語に変換
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-quality.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-milestones.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality.yaml
Due: docs-build

fix(ai-update): 休日をまたぐtaskの分割
  tools/dojo/src/exec-schedule.ts
Due: none

refactor(ai-update): exec-scheduleを分割
  tools/dojo/src/exec-schedule-calendar.ts
  tools/dojo/src/exec-schedule-cpm.ts
  tools/dojo/src/exec-schedule-hash.ts
  tools/dojo/src/exec-schedule-index.ts
  tools/dojo/src/exec-schedule-progress.ts
  tools/dojo/src/exec-schedule-ready.ts
  tools/dojo/src/exec-schedule-timeline-render.ts
  tools/dojo/src/exec-schedule-timeline.ts
  tools/dojo/src/exec-schedule.ts
Due: none

chore(schedule): update wbs and schedule source yaml only
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/050-wbs/wbs-quality.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-business.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-design.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-governance.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-milestones.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-nfr.yaml
  docs/ja/sdh-ja-projects/prj-0001/060-schedule/sch-quality.yaml
Due: docs-build

chore(execution): commit generated outputs and workspace settings
  .vscode/settings.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/claim-next.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/cpm.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/cpm.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/critical-path.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/metadata.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/ready.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/ready.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/schedule-diff.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/schedule-hash.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/state.json
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/timeline.md
  docs/ja/sdh-ja-projects/prj-0001/070-execution/generated/timeline.svg
Due: docs-build, format-markdown, lint-markdown

exec(register PJR-4TZ7): start
  docs/ja/projects/prj-0001/controls/project-register/pjr-4tz7-grade-per-document.md
  docs/ja/projects/prj-0001/execution/exec/plans/pjr-4tz7-20260829T141015Z-f5ed-plan.md
  docs/ja/projects/prj-0001/execution/exec/results/pjr-4tz7-20260829T141015Z-f5ed-result.md
Due: docs-build, format-markdown, lint-markdown

exec(register PJR-4TZ7): grade を1文書単位の評価へ変更し plan として保存する
  docs/ja/projects/prj-0001/controls/project-register/pjr-4tz7-grade-per-document.md
  docs/ja/projects/prj-0001/execution/exec/evidence/PJR-4TZ7/20260829T141049256Z-1e01fbca/evidence.json
  docs/ja/projects/prj-0001/execution/exec/evidence/PJR-4TZ7/20260829T141049256Z-1e01fbca/executor.log
  docs/ja/projects/prj-0001/execution/exec/evidence/PJR-4TZ7/20260829T141049256Z-1e01fbca/pipeline-state.json
  docs/ja/projects/prj-0001/execution/exec/results/pjr-4tz7-20260829T141015Z-f5ed-result.md
  docs/ja/projects/prj-0001/jobs/job-grade-kata.yaml
  docs/ja/specdojo/guides/routine-operation-guide.md
  docs/ja/specdojo/references/command-reference.md
  docs/ja/specdojo/references/directory-layout-reference.md
  docs/ja/specdojo/templates/xep-bootstrap-template.md
  src/grade.ts
  tests/src/cli-verb-taxonomy.test.ts
  tests/src/grade.test.ts
Due: docs-build, format-markdown, lint-markdown

exec(register PJR-4TZ7): review
  docs/ja/projects/prj-0001/controls/project-register/pjr-4tz7-grade-per-document.md
Due: docs-build, format-markdown, lint-markdown

docs(register): PJR-4TZ7 をクローズし責務単一性の観点を起票する
  docs/ja/projects/prj-0001/controls/project-register/pjr-4tz7-grade-per-document.md
  docs/ja/projects/prj-0001/controls/project-register/pjr-zyfz-single-responsibility-viewpoint.md
Due: docs-build, format-markdown, lint-markdown

docs(register): grade plan のパス参照化を起票する
  docs/ja/projects/prj-0001/controls/project-register/pjr-9xvg-grade-plan-link-style.md
Due: docs-build, format-markdown, lint-markdown

exec(register PJR-9XVG): start
  docs/ja/projects/prj-0001/controls/project-register/pjr-9xvg-grade-plan-link-style.md
  docs/ja/projects/prj-0001/execution/exec/plans/pjr-9xvg-20260829T150716Z-0691-plan.md
  docs/ja/projects/prj-0001/execution/exec/results/pjr-9xvg-20260829T150716Z-0691-result.md
Due: docs-build, format-markdown, lint-markdown

exec(register PJR-9XVG): grade plan を全文埋め込みからパス参照へ変更し exec plan と構造を揃える
  docs/ja/projects/prj-0001/controls/project-register/pjr-9xvg-grade-plan-link-style.md
  docs/ja/projects/prj-0001/execution/exec/evidence/PJR-9XVG/20260829T150743953Z-b291462c/evidence.json
  docs/ja/projects/prj-0001/execution/exec/evidence/PJR-9XVG/20260829T150743953Z-b291462c/executor.log
  docs/ja/projects/prj-0001/execution/exec/evidence/PJR-9XVG/20260829T150743953Z-b291462c/pipeline-state.json
  docs/ja/projects/prj-0001/execution/exec/results/pjr-9xvg-20260829T150716Z-0691-result.md
  docs/ja/specdojo/references/command-reference.md
  src/grade.ts
  tests/src/grade.test.ts
Due: docs-build, format-markdown, lint-markdown

exec(register PJR-9XVG): review
  docs/ja/projects/prj-0001/controls/project-register/pjr-9xvg-grade-plan-link-style.md
Due: docs-build, format-markdown, lint-markdown

Path conditions:
  docs-build: any of: docs/**
  format-markdown: any of: *.md
  lint-markdown: any of: *.md
